.sectionThree {
  margin-top: 70px;
  &__acercaDeMi {
    &__title {
      font-family: $font-main;
      color: $color-text;
      font-weight: 400;
      text-align: center;
      margin-top: -50px;
      margin-bottom: 50px;
    }
    &__box {
      font-family: $font-main;
      color: $color-text;
      border: grey solid 1px;
      border-radius: 5px;
      padding: 20px;
      text-align: justify;
    }
  }
  &__arrow.flex-center {
    height: unset;
  }
  &__arrow {
    margin-top: 10%;
  }
}
