.navbar {
  // box-shadow: none;
  &__navbarBrand {
    color: $color-text !important;
    font-family: $font-main;
    line-height: normal;
    &__name {
      font-size: 18px;
      font-weight: 500;
    }
    &__profession {
      font-size: 13px;
    }
  }
  &__links {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: #0275d8 !important;
    &:hover {
      color: #0056b3 !important;
    }
  }
}

@media only screen and (min-width: 768px) {
  #nav-icon1 {
    display: none;
  }
}
