.sectionTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  &__title {
    font-family: $font-main;
    color: $color-text;
    font-weight: 400;
    text-align: center;
    padding: 0 10vw;
  }
  &__boxes {
    margin-top: 70px;
    &__ecommerce {
      height: 50vh;
      background: url("./img/ecommerce.png") no-repeat center;
      background-size: contain;
      object-fit: cover;
    }
    &__talentTrade {
      height: 50vh;
      background: url("./img/talent-trade.jpg") no-repeat center;
      background-size: contain;
      object-fit: cover;
    }
    &__rockPaperScissors {
      height: 50vh;
      background: url("./img/rock-paper-scissors.jpg") no-repeat center;
      background-size: contain;
      object-fit: cover;
    }
    &__talentTradeMobile {
      height: 50vh;
      background: url("./img/talent-trade-mobile.png") no-repeat center;
      background-size: contain;
      object-fit: cover;
    }
    &__promedio {
      height: 50vh;
      background: url("./img/promedio.png") no-repeat center;
      background-size: contain;
      object-fit: cover;
    }
    &__calculator {
      height: 50vh;
      background: url("./img/calculator.png") no-repeat center;
      background-size: contain;
      object-fit: cover;
    }
    &__maskText {
      color: white;
      text-align: center;
      font-weight: 500;
      margin-bottom: 20px !important;
    }
    &__visitarSitio {
      color: rgb(100, 226, 16);
      &:hover {
        color: green;
      }
    }
    &__normal {
      margin-top: 2%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 400px;
      grid-column-gap: 2%;
    }
  }
  &__arrow {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .sectionTwo {
    &__title {
      font-size: 1.4rem;
    }
  }
}
