.sectionThree {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
  &__acercaDeMi {
    &__title {
      font-family: $font-main;
      color: $color-text;
      font-weight: 400;
      text-align: center;
    }
    &__box {
      font-family: $font-main;
      color: $color-text;
      border: grey solid 1px;
      border-radius: 5px;
      padding: 20px;
      text-align: justify;
    }
  }
}
