@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,500");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar__navbarBrand {
  color: #434543 !important;
  font-family: "Raleway", sans-serif;
  line-height: normal; }
  .navbar__navbarBrand__name {
    font-size: 18px;
    font-weight: 500; }
  .navbar__navbarBrand__profession {
    font-size: 13px; }

.navbar__links {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: #0275d8 !important; }
  .navbar__links:hover {
    color: #0056b3 !important; }

@media only screen and (min-width: 768px) {
  #nav-icon1 {
    display: none; } }

.sectionOne {
  margin-top: 62px;
  padding: 10vw;
  min-height: 90vh; }
  .sectionOne__title {
    font-size: 72px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #007bff;
    font-weight: 400;
    margin-bottom: 2rem; }
  .sectionOne__presentation {
    max-width: 650px;
    display: flex; }
    .sectionOne__presentation__img {
      min-width: 150px;
      margin: 0 auto;
      height: 150px;
      width: 150px; }
    .sectionOne__presentation__text {
      align-self: center;
      margin-left: 10px;
      font-family: "Raleway", sans-serif;
      color: #434543;
      font-weight: 400; }
  .sectionOne__arrow {
    margin-top: 10%; }
  .sectionOne__arrow.flex-center {
    height: unset; }

.navBorder {
  border: 0;
  height: 1px;
  background: #333;
  background: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%); }

@media only screen and (max-width: 992px) {
  .sectionOne__presentation__text {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.6rem; } }

@media only screen and (max-width: 768px) {
  .sectionOne__presentation__img {
    min-width: 100px;
    height: 100px;
    width: 100px; }
  .sectionOne__presentation__text {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.4rem; } }

.sectionTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px; }
  .sectionTwo__title {
    font-family: "Raleway", sans-serif;
    color: #434543;
    font-weight: 400;
    text-align: center;
    padding: 0 10vw; }
  .sectionTwo__boxes {
    margin-top: 70px; }
    .sectionTwo__boxes__ecommerce {
      height: 50vh;
      background: url("./img/ecommerce.png") no-repeat center;
      background-size: contain;
      object-fit: cover; }
    .sectionTwo__boxes__talentTrade {
      height: 50vh;
      background: url("./img/talent-trade.jpg") no-repeat center;
      background-size: contain;
      object-fit: cover; }
    .sectionTwo__boxes__rockPaperScissors {
      height: 50vh;
      background: url("./img/rock-paper-scissors.jpg") no-repeat center;
      background-size: contain;
      object-fit: cover; }
    .sectionTwo__boxes__talentTradeMobile {
      height: 50vh;
      background: url("./img/talent-trade-mobile.png") no-repeat center;
      background-size: contain;
      object-fit: cover; }
    .sectionTwo__boxes__promedio {
      height: 50vh;
      background: url("./img/promedio.png") no-repeat center;
      background-size: contain;
      object-fit: cover; }
    .sectionTwo__boxes__calculator {
      height: 50vh;
      background: url("./img/calculator.png") no-repeat center;
      background-size: contain;
      object-fit: cover; }
    .sectionTwo__boxes__maskText {
      color: white;
      text-align: center;
      font-weight: 500;
      margin-bottom: 20px !important; }
    .sectionTwo__boxes__visitarSitio {
      color: #64e210; }
      .sectionTwo__boxes__visitarSitio:hover {
        color: green; }
    .sectionTwo__boxes__normal {
      margin-top: 2%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 400px;
      grid-column-gap: 2%; }
  .sectionTwo__arrow {
    margin-top: 3rem; }

@media only screen and (max-width: 768px) {
  .sectionTwo__title {
    font-size: 1.4rem; } }

.sectionThree {
  margin-top: 70px; }
  .sectionThree__acercaDeMi__title {
    font-family: "Raleway", sans-serif;
    color: #434543;
    font-weight: 400;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 50px; }
  .sectionThree__acercaDeMi__box {
    font-family: "Raleway", sans-serif;
    color: #434543;
    border: grey solid 1px;
    border-radius: 5px;
    padding: 20px;
    text-align: justify; }
  .sectionThree__arrow.flex-center {
    height: unset; }
  .sectionThree__arrow {
    margin-top: 10%; }

.sectionFour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .sectionFour__title {
    font-family: "Raleway", sans-serif;
    color: #434543;
    font-weight: 400;
    margin-top: -100px;
    margin-bottom: 100px; }
  .sectionFour__icons {
    margin-bottom: 70px; }
    .sectionFour__icons a {
      margin: 0 10px; }
  .sectionFour__text {
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    color: #434543; }

hr,
p {
  margin: 0; }
