@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,500");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navigationBar {
  height: 64px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem; }
  .navigationBar__logo__link {
    text-decoration: unset;
    color: #434543;
    font-family: "Raleway", sans-serif;
    line-height: normal; }
    .navigationBar__logo__link__name {
      font-size: 18px;
      font-weight: 500; }
    .navigationBar__logo__link__profession {
      font-size: 13px; }
  .navigationBar__collapse--items {
    display: inline; }

.listedItems {
  margin: 0;
  display: inline; }
  .listedItems__item {
    display: inline; }
    .listedItems__item__btnCollapse {
      all: unset;
      display: none;
      font-size: 1.5rem;
      color: black;
      margin-right: 1rem; }
    .listedItems__item__link {
      margin-left: 1rem;
      margin-right: 1rem;
      color: unset;
      text-decoration: unset;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: normal;
      color: black; }

@media only screen and (max-width: 768px) {
  .navBar--responsive {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
    padding-right: 10%;
    height: unset; }
  .listedItems__item__btnCollapse {
    display: inline;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .listedItems__item__link {
    display: none; }
    .listedItems__item__link--responsive {
      display: block;
      margin: 0;
      margin-bottom: 1rem; }
  .listedItems--responsive {
    display: flex;
    flex-direction: column; } }

.navBorder {
  border: 0;
  height: 1px;
  background: #333;
  background: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%); }

.sectionOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10vh;
  height: 90vh; }
  .sectionOne__title {
    font-size: 72px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #434543;
    font-weight: 400; }
  .sectionOne__presentation {
    max-width: 650px;
    display: flex; }
    .sectionOne__presentation__img {
      min-width: 150px; }
    .sectionOne__presentation__text {
      align-self: center;
      margin-left: 10px;
      font-family: "Raleway", sans-serif;
      color: #434543;
      font-weight: 400; }
  .sectionOne__arrow {
    margin-bottom: -10%;
    margin-top: 10%; }

.sectionTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px; }
  .sectionTwo__title {
    font-family: "Raleway", sans-serif;
    color: #434543;
    font-weight: 400; }
  .sectionTwo__boxes {
    margin-top: 70px;
    width: 70%; }
    .sectionTwo__boxes__talentTrade {
      height: 25vw;
      background: url("./img/talent-trade.jpg") no-repeat center;
      background-size: contain;
      object-fit: cover; }
    .sectionTwo__boxes__rockPaperScissors {
      height: 25vw;
      background: url("./img/rock-paper-scissors.jpg") no-repeat center;
      background-size: contain;
      object-fit: cover; }
    .sectionTwo__boxes__talentTradeMobile {
      height: 25vw;
      background: url("./img/talent-trade-mobile.png") no-repeat center;
      background-size: contain;
      object-fit: cover; }
    .sectionTwo__boxes__promedio {
      height: 25vw;
      background: url("./img/promedio.png") no-repeat center;
      background-size: contain;
      object-fit: cover; }
    .sectionTwo__boxes__calculator {
      height: 25vw;
      background: url("./img/calculator.png") no-repeat center;
      background-size: contain;
      object-fit: cover; }
    .sectionTwo__boxes__maskText {
      color: white;
      text-align: center;
      font-weight: 500;
      margin-bottom: 20px !important; }
    .sectionTwo__boxes__normal {
      margin-top: 2%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 400px;
      grid-column-gap: 2%; }
      .sectionTwo__boxes__normal__one {
        background: url("./img/talent-trade-mobile.png") no-repeat center;
        background-size: 100%; }
        .sectionTwo__boxes__normal__one a {
          display: block;
          height: 100%; }
      .sectionTwo__boxes__normal__two {
        background: url("./img/promedio.png") no-repeat center;
        background-size: 80%; }
        .sectionTwo__boxes__normal__two a {
          display: block;
          height: 100%; }
      .sectionTwo__boxes__normal__three {
        background: url("./img/calculator.png") no-repeat center;
        background-size: 95%; }
        .sectionTwo__boxes__normal__three a {
          display: block;
          height: 100%; }

.sectionThree {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  height: 100vh; }
  .sectionThree__acercaDeMi__title {
    font-family: "Raleway", sans-serif;
    color: #434543;
    font-weight: 400;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 50px; }
  .sectionThree__acercaDeMi__box {
    font-family: "Raleway", sans-serif;
    color: #434543;
    border: grey solid 1px;
    border-radius: 5px;
    padding: 20px;
    text-align: justify; }
  .sectionThree__arrow {
    margin-bottom: -10%;
    margin-top: 10%; }

.sectionFour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .sectionFour__title {
    font-family: "Raleway", sans-serif;
    color: #434543;
    font-weight: 400;
    margin-top: -100px;
    margin-bottom: 100px; }
  .sectionFour__icons {
    margin-bottom: 70px; }
    .sectionFour__icons a {
      margin: 0 10px; }
  .sectionFour__text {
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    color: #434543; }

hr,
p {
  margin: 0; }
